# Load and work with python - mySQL


**NOTE:**
**I LOST 5 HOURS OF JUPYTER AUTOSAVE WHEN CREATING THE DDBB** <br/>

I CANNOT RECAPITULATE EXACTLY ALL THE CODE I USED TO GENERATE THE TABLES <br/>

0. Import modules
1. Define the cursor and connect to mySQL
2. Create the DDBB  Blockbuster
3. Load the csv tables to jupyter
4. Load de tables to mySQL DDBB Blockbuster

### 0. Import modules and set the connection

In [1]:
from logs.SQLpass import SQLpass ## my SQL passs!!!!

In [2]:
import pandas as pd
import mysql.connector as conn
from sqlalchemy import create_engine

In [4]:
conexion = conn.connect(host='127.0.0.1',
                       user='root',        # usuario
                       passwd=SQLpass#,   # pass de SQL
                     #  database='blockbuster'
                       )

cursor = conexion.cursor()
cursor

### SqlAlchemy

* Create cursor and connect to mySQL
* Delete blockbuster DDBB if exist
* Create blockbuster DDBB again

In [79]:
str_conn = 'mysql+pymysql://root:' + SQLpass + '@localhost:3306'
cursor = create_engine(str_conn)

cursor.execute('drop database if exists blockbuster;')
cursor.execute('create database blockbuster;')

### 3. Load the csv tables to jupyter

In [54]:
rental = pd.read_csv('../../data/clean/rental2.csv')
film = pd.read_csv('../../data/clean/film2.csv')
policy = pd.read_csv('../../data/clean/policy2.csv')

inventory = pd.read_csv('../../data/clean/inventory2.csv')
staff = pd.read_csv('../../data/clean/staff2.csv')
store = pd.read_csv('../../data/clean/store2.csv')
client = pd.read_csv('../../data/clean/client2.csv')

actor = pd.read_csv('../../data/clean/actor2.csv')
special_feature = pd.read_csv('../../data/clean/special_feature2.csv')
category = pd.read_csv('../../data/clean/category2.csv')
film_has_category = pd.read_csv('../../data/clean/film_has_category2.csv')

### SqlAlchemy

* Create cursor to directly connect to blockbuster DDBB in mySQL

In [85]:
str_conn = 'mysql+pymysql://root:' + SQLpass + '@localhost:3306/blockbuster'
cursor = create_engine(str_conn)

### 4. Load de tables to mySQL DDBB Blockbuster

In [81]:
rental.to_sql(name='rental',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='replace',  # reemplaza la tabla si existe
            index=False)

film.to_sql(name='film',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='replace',  # reemplaza la tabla si existe
            index=False)


policy.to_sql(name='policy',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='replace',  # reemplaza la tabla si existe
            index=False)

###

inventory.to_sql(name='inventory',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='replace',  # reemplaza la tabla si existe
            index=False)

staff.to_sql(name='staff',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='replace',  # reemplaza la tabla si existe
            index=False)

store.to_sql(name='store',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='replace',  # reemplaza la tabla si existe
            index=False)

client.to_sql(name='client',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='replace',  # reemplaza la tabla si existe
            index=False)

###

category.to_sql(name='category',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='replace',  # reemplaza la tabla si existe
            index=False)

film_has_category.to_sql(name='film_has_category',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='replace',  # reemplaza la tabla si existe
            index=False)


actor.to_sql(name='actor',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='replace',  # reemplaza la tabla si existe
            index=False)


special_feature.to_sql(name='special_feature',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='replace',  # reemplaza la tabla si existe
            index=False)

At this point, I continued editing the DDBB relations through **`mySQL Workbench`**. <br/>
The DDBB was stored as a `.sql` file and I checked the DDBB structure is fine.
I made some queries to extract info from the DDBB too.


Nevertheless, I still wanted to learn how to make the PK-FK using **`sqlAlchemy`**. <br/>
The next lines are not definite cause they still return errors in some tables.

### ADD PRIMARY KEY ATTRIBUTE

In [82]:
cursor.execute("""ALTER TABLE film ADD PRIMARY KEY (film_id);""")
cursor.execute("""ALTER TABLE actor ADD PRIMARY KEY (actor_id);""")
cursor.execute("""ALTER TABLE category ADD PRIMARY KEY (category_id);""")
######cursor.execute("""ALTER TABLE film_has_category ADD PRIMARY KEY (film_id);""")
cursor.execute("""ALTER TABLE policy ADD PRIMARY KEY (policy_id);""")
cursor.execute("""ALTER TABLE inventory ADD PRIMARY KEY (copy_id);""")


cursor.execute("""ALTER TABLE rental ADD PRIMARY KEY (rental_id);""")
cursor.execute("""ALTER TABLE staff ADD PRIMARY KEY (staff_id);""")
cursor.execute("""ALTER TABLE store ADD PRIMARY KEY (store_id);""")
cursor.execute("""ALTER TABLE client ADD PRIMARY KEY (client_id);""")

#### This lines worked correctly

### ADD FORIGN KEY RELATIONS

In [78]:
'''
cursor.execute("""ALTER TABLE actor
ADD CONSTRAINT film_id FOREIGN KEY (film_id) REFERENCES film (film_id);""")

cursor.execute("""ALTER TABLE film_has_category 
ADD CONSTRAINT category_id FOREIGN KEY (category_id) REFERENCES category (category_id);""")

cursor.execute("""
ALTER TABLE rental 
ADD CONSTRAINT copy_id FOREIGN KEY (copy_id) REFERENCES inventory (copy_id),
ADD CONSTRAINT store_id FOREIGN KEY (store_id) REFERENCES store (store_id),
ADD CONSTRAINT client_id FOREIGN KEY (client_id) REFERENCES client (client_id),
ADD CONSTRAINT staff_id FOREIGN KEY (staff_id) REFERENCES staff (staff_id);
""")
'''

'\ncursor.execute("""ALTER TABLE actor\nADD CONSTRAINT film_id FOREIGN KEY (film_id) REFERENCES film (film_id);""")\n\ncursor.execute("""ALTER TABLE film_has_category \nADD CONSTRAINT category_id FOREIGN KEY (category_id) REFERENCES category (category_id);""")\n\ncursor.execute("""\nALTER TABLE rental \nADD CONSTRAINT copy_id FOREIGN KEY (copy_id) REFERENCES inventory (copy_id),\nADD CONSTRAINT store_id FOREIGN KEY (store_id) REFERENCES store (store_id),\nADD CONSTRAINT client_id FOREIGN KEY (client_id) REFERENCES client (client_id),\nADD CONSTRAINT staff_id FOREIGN KEY (staff_id) REFERENCES staff (staff_id);\n""")\n\n'

#### This lines did not work
The error claims I have duplicate values. </br>
However, I checked PK's have no duplicates! Only the FK's have duplicates, which is expected in a DDBB

In [ ]:
#cursor.execute("""ALTER TABLE film_has_category 
#ADD CONSTRAINT film_id FOREIGN KEY (film_id) REFERENCES film (film_id);""")

#cursor.execute("""ALTER TABLE special_feature 
#ADD CONSTRAINT film_id FOREIGN KEY (film_id) REFERENCES film (film_id);""")

#cursor.execute("""ALTER TABLE policy 
#ADD CONSTRAINT copy_id FOREIGN KEY (copy_id) REFERENCES inventory (copy_id);""")

#cursor.execute("""ALTER TABLE inventory 
#ADD CONSTRAINT film_id FOREIGN KEY (film_id) REFERENCES film (film_id);""")